<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="height:250px;">
                <img src="images/1.jpg" alt="...">

                <div class="carousel-caption">
                </div>
            </div>
            <div class="item" style="height:250px;">
                <img src="images/2.jpg" alt="...">

                <div class="carousel-caption">
                </div>
            </div>
            <div class="item" style="height:250px;">
                <img src="images/3.jpg" alt="...">

                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <!-- Controls -->
    <span class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"
          style="cursor: pointer;">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </span>
    <span class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"
          style="cursor: pointer;">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </span>
    </div>

    <div class="section">

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-3">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="90" height="90">

                    <h3>Resume</h3>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="90" height="90">

                    <h3>Blog</h3>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="90" height="90">

                    <h3>Heading</h3>

                </div>

                <!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="90" height="90">

                    <h3>Heading</h3>

                </div>

                <!-- /.col-lg-4 -->
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="90" height="90">

                    <h3>Heading</h3>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="90" height="90">

                    <h3>Heading</h3>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="90" height="90">

                    <h3>Heading</h3>

                </div>

                <div class="col-lg-3">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="90" height="90">

                    <h3>Heading</h3>

                </div>

                <!-- /.col-lg-4 -->
            </div>
        </div>
    </div>

</div>
